.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-area: h;
  background-color: #ff7f50;
  border-radius: 20px;
}
.header img {
  padding-left: 30px;
  height: 100%;
}
.loginBlock {
  color: black;
  float: right;
  padding-right: 20px;
}
.loginBlock a {
  color: white;
  text-decoration: none;
}