.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialog {
    display: flex;
    align-items: center;
    padding: 10px;
}

.dialog a {
    text-decoration: none;
    color: white;
    padding: 20px;
}

.messages {
    padding: 10px;
}

.dialogsItems img {
    width: 80px;
    height: 80px;
    border-radius: 100px;
}